@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #161B22;
  --background: #161B22;
}


/* ScrollBar */
/* width */
::-webkit-scrollbar {
width: 6px;
height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #a8b3cf;
border-radius: 8px;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: none; /* Set the corner background to none */
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: var(--foreground-rgb);
  background: var(--background);
}